.form-container{
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  padding-top: 50px;
  background-image:linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0,0,0,0.8),#355153),url('/background-1.jpg');
  background-size: cover;
}
  
.contact-title{
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 4px;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%,-0);
  text-transform: uppercase;
  color:rgb(78, 78, 78);
  z-index: 1;
}

.form{
  position: absolute;
  top: 10%;
  left: 50px;
  width: 90%;
  max-width: 600px;
  margin-top: 100px;
  z-index: 1;
}

.input-group{
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
}

.input, .text-area{
  width: 100%;
  padding: 12px;
  outline: 0;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  font-size: 13px;
}
label{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #fff;
  cursor: text;
  transition: 0.2s;
  z-index: 1;
}

button{
  padding: 10px 0;
  color: #fff;
  outline: none;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  cursor: pointer;
}

.input:focus ~label,
.input:valid ~label,
.text-area:focus ~label,
.text-area:valid ~label{
  top: -10px;
  font-size: 13px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row .input-group{
  flex-basis: 46%;

}

.info{
  position: absolute;
  right: 200px;
  top: 25%;
  z-index: 1;
  color: white;
}
.info__short{
  text-align: left;
}
.info__short a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}

.maps__container{
  width: 50%;
  height: 300px;
}