$mainColor: #8ac3bb;

.header-wrapper{
  width: 100%;
  height: 90vh;
  position: relative;
  background: linear-gradient(rgba(25, 64, 65, 0.7), rgba(43, 109, 111, 0.7),rgba(121, 119, 119, 0.45)); 

}
.header-wrapper svg{
  position: absolute;
  left: 0;
  bottom: 0;
}
.header-title{
  position: absolute;
  right: 0;
  bottom: 15%;  
  width: 60%;
  height: 50%;
  color: white;
  text-align: left;
  &__h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 400;
  }
  &__h3{
    font-weight: 400;
    font-size: 20px;
  }
}
.main-title{
  font-size: 110px;
  font-weight: 400;
  position: absolute;
  left: 40%;
  top: 0; 
  color: transparent;
  background-image: linear-gradient(white, white);
  background-repeat: no-repeat;
  background-clip: text;
  text-align: left;
  background-position: -700px 0;
  animation: backcolor 5s linear infinite alternate;
}
@keyframes backcolor{
  100%{
    background-position: 0 0;
  }
}
.header-img{
  position: absolute;
  width: 35%;
  height: 90%;
  left: 0;
  bottom: 0px;
  z-index: 1;
}
.contact-link{
  position: absolute;
  bottom: 25%;
  right: 15%;
  width: 210px;
  border: solid 2px white;
  border-radius: 20px;
  &:hover{
    background: white;  
  } 
}
.contact-link a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.contact-link:hover a{
  color: $mainColor;
  background: white;
}


@media screen and (max-width:768px){
  .header-wrapper{
    width: 100%;
    height: 80vh; 
  }
  .header-title{
    top: 20%;  
    left: 2%;
    width: 100%;
    color: white;
    text-align: left;
    &__h1{
      letter-spacing: 1px;
      font-size: 20px;
    }
    &__h3{
      font-weight: 200;
      font-size: 16px;
    }
  }
  .main-title{
    font-size: 55px;
    left: 2%;
    top: 0; 
  }
  .header-img{
    position: absolute;
    width: 40%;
    height: 40%;
    left: 0;
    bottom: 0;
    z-index: 1;
  }
  .contact-link{
    bottom: 25%;
    right: 10%;
    width: 160px;
  }
  .contact-link a{
    font-size: 14px;
  }
  .contact-link:hover a{
    color: $mainColor;
    background: white;
  } 
}

@media(min-width:769px) and (max-width:1199px){
.header-wrapper{
  height: 85vh;
}
.header-title h1{
  font-size: 25px;
}
.header-title h3{
  font-size: 16px;
}
.main-title{
  font-size: 85px;
  animation: backcolor 6s linear infinite alternate; 
}
.header-img{
  width: 40%;
  height: 65vh;
}
.contact-link{
  bottom: 20%;
  right: 10%;
  width: 180px;
}
.contact-link a{
  font-size: 15px;
}
}

