
.about{
width: 100%;
height: 60vh;
display: flex;
align-content: center;
position: relative;
// background-color: rgb(138, 195, 187);
// opacity: 0.8;
}

// .about__placeimg{
//   border-radius: 5px;
//   margin-left: 0px;
// }

.about_wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top:0;
  left: 50%;
  transform: translate(-50%, 0);
 
  
}

.titlle{
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.titlle_one{
  font-size: 2rem;
  text-transform: uppercase;
}

.short{
  color: grey;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
}

.about_list{
  font-size: 1.2rem;
}

.about_titlle{
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  padding: 30px;
}

p.about_list{
  margin-left: 20px;
}

