.m-container{
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  background:  #f6fbff;
}

.m-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  
}
.methods h1{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0) ;
  font-size: 40px;
  color: #495f60;
  padding-top: 20px;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  &::after{
    content: '';
    background: linear-gradient(#759192, #77abad,#86a8a9);
    display: block;
    width: 200px;
    height: 2.5px;

    
  }
}
.methods__info{
  font-size: 15px;
  width: 280px;
  height: 400px;
  z-index: 1;
  color: white;
  border-radius: 10px;
  margin-top: 150px;
  padding: 10px;
  overflow: hidden;
  transition: .5s;
  background: linear-gradient(#759192, #77abad);
  &:hover{
    width: 310px;
    height: 420px;
    border: 1px solid white;
    cursor: pointer;
  }
}
.methods__info:hover .methods__icon{
  transform: rotate(360deg);
}
.methods__info h3{
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 30px;
  overflow: hidden;
}

.methods__icon{
  font-size: 20px;
  margin: 20px auto;
  padding: 15px;
  margin-bottom: 15px;
  height: 60px;
  width: 60px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 1s;
}
.methods__link p{
  font-size: 15px;
  font-weight: 300;
  text-align: left;
}
.methods__more{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%,0);
  z-index: 1;
}
.methods__more button{
  padding: 3px 50px;
  border-radius: 10px;
  margin-top: 50px;
  background: linear-gradient(#759192, #77abad);
  &:hover{
    background: rgb(111, 108, 108);
  }
}
