$mainColor: #8ac3bb;
.work{
  background-color:#f6fbff;
  position: relative;
}
.main-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.title-container{
  position: relative;
  width: 100%;
  height: 25vh;
  overflow: hidden;
  background: linear-gradient(#759192, #77abad, white);
  opacity: 0.8; 
}
.title-container h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 0;
}
.wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
}
.sidebar{
  width: 110px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 15px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
  transition: width 0.4s;
  &:hover{
    width: 300px;
  }
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  padding: 10px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.sidebar__title{
  font-size: 15px;
  font-weight: 600;
}
.logo .sidebar__title{
  display: none;
}
.logo__img{
  width: 45px;
  border-radius: 50%;
  margin: auto;
}
.sidebar__img{
  width: 35px;
  margin-right: 0px;
}
.sidebar__ul{
  list-style: none;
  padding: 0 15px;
}
.sidebar__ul .sidebar__list{
  margin: 35px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar__ul .sidebar__list .sidebar__link{
  text-decoration: none;
  color: black;
}
.sidebar__ul .sidebar__list p{
  white-space: nowrap;
  display: none;
}
.btn-back{
  border-radius: 10px;
  background: $mainColor;
  border: 1px solid $mainColor;
  font-size: 15px;
  &:hover{
    background-color:rgba(145, 145, 145, 0.9);
    cursor: pointer;
  }
}
.btn-back .btn-link{
  text-decoration: none;
  color: white;
}
.sidebar:hover .logo .sidebar__title{
  display: block;
}
.sidebar:hover .logo{
  width: 100%;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(5px);
}
.sidebar:hover .sidebar__ul .sidebar__list p{
  display: block;
}
.sidebar:hover .sidebar__ul .sidebar__list .sidebar__img{
  margin-right: 10px;
}
.sidebar:hover .sidebar__ul .sidebar__list{
  justify-content: flex-start;
}
.offer{
  width: 75%;
  border-left: solid 1px $mainColor;
  padding: 0 25px;
}
.offer__title{
  color:$mainColor;
  font-weight: 400;
  text-align: left;
}
.offer__description{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}
.offer__text{
  text-align: left;
  width: 60%;
}
.img__method{
  width: 40%;
  border-radius: 10px;
}
.btn-question{
  border-radius: 10px;
  background: $mainColor;
  border: 1px solid $mainColor;
  font-size: 16px;
  padding: 5px 10px;
  margin-top: 20px;
  &:hover{
    background-color:rgba(145, 145, 145, 0.9);
    cursor: pointer;
  }
}
.btn-question .btn-form{
  text-decoration: none;
  color: white;
}