$mainColor: #8ac3bb;

.review__wrapper{
  width: 100%;
  height: 67vh;
  background: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
}

.review__title{
  font-size: 30px;
  position: relative;
  margin-bottom: 50px;
  &::after
  {
  content: '';
  width: 150px;
  height: 3px;
  background: linear-gradient(to right,#327a92, #02fffb);
  position: absolute;
  bottom: 0px;
  left: 0;
  overflow: hidden;
  }
}
.review__box{
  width: 90%;
  max-width: 650px;
  height: 280px;
  border-radius: 10px;
  box-shadow: -10px 10px 10px rgba(0,0,0,0.25);
  position: relative;
  overflow: hidden;  
}

.card{
  height: 300px;
  padding: 40px;
  color: #777;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  z-index: 1;
  &::before{
    content: '';
    width: 110px;
    height: 110px;
    border-bottom-right-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: $mainColor;
  }
}
.profile{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.profile img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 20px;
}
.profile h3{
  font-size: 26px;
  color: $mainColor;
  margin-bottom: 8px;
}

#slide{
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.sidebar{
  width: 60px;
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  background: $mainColor;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.sidebar img{
  width: 30px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

::selection{
  background: $mainColor;
  color: white;
}